@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Noto Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Noto Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Roboto', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Roboto', sans-serif;
}
.mbr-author-desc {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Roboto', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #1b7f8d !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #cccccc !important;
}
.bg-warning {
  background-color: #fac51c !important;
}
.bg-danger {
  background-color: #f97352 !important;
}
.btn-primary {
  background-color: #1b7f8d;
  border-color: #1b7f8d;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #0f454d;
  border-color: #0f454d;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0f454d !important;
  border-color: #0f454d !important;
}
.btn-secondary {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-info {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #a6a6a6;
  border-color: #a6a6a6;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #fac51c;
  border-color: #fac51c;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #c59704;
  border-color: #c59704;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #c59704 !important;
  border-color: #c59704 !important;
}
.btn-danger {
  background-color: #f97352;
  border-color: #f97352;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #f63709;
  border-color: #f63709;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #f63709 !important;
  border-color: #f63709 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #0b3237;
  color: #0b3237;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #1b7f8d;
  border-color: #1b7f8d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #1b7f8d !important;
  border-color: #1b7f8d !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-info-outline {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #ac8404;
  color: #ac8404;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #fac51c;
  border-color: #fac51c;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #fac51c !important;
  border-color: #fac51c !important;
}
.btn-danger-outline {
  background: none;
  border-color: #dd3208;
  color: #dd3208;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f97352;
  border-color: #f97352;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f97352 !important;
  border-color: #f97352 !important;
}
.text-primary {
  color: #1b7f8d !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #cccccc !important;
}
.text-warning {
  color: #fac51c !important;
}
.text-danger {
  color: #f97352 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #cccccc;
}
.alert-warning {
  background-color: #fac51c;
}
.alert-danger {
  background-color: #f97352;
}
.btn-social {
  border-color: #1b7f8d;
}
.btn-social:hover {
  background: #1b7f8d;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #1b7f8d;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #1b7f8d;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #1b7f8d;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #1b7f8d;
}
.lead a,
.lead a:hover {
  color: #1b7f8d;
}
.lead blockquote {
  border-color: #1b7f8d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #4bcbdd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fef8e4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #1b7f8d;
}
#content5-g .mbr-section-title,
#content5-g p {
  color: #fff;
}
#gallery4-i LI {
  color: #ffffff;
}
#msg-box8-3 .mbr-section-title,
#msg-box8-3 p {
  color: #fff;
}
#testimonials1-4 .mbr-section-title {
  color: #ffffff;
}
#testimonials1-4 .card-footer > div {
  color: #ffffff;
}
#menu-8 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8 .navbar-caption {
  color: #ffffff;
}
#menu-8 .navbar-toggler {
  color: #ffffff;
}
#menu-8 .close-icon::before,
#menu-8 .close-icon::after {
  background-color: #ffffff;
}
#menu-8 .link,
#menu-8 .dropdown-item {
  color: #ffffff;
}
#menu-8 .link {
  font-size: 0.75rem;
}
#menu-8 .dropdown-item,
#menu-8 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-8 .link:hover,
#menu-8 .dropdown-item:hover,
#menu-8 .link:focus,
#menu-8 .dropdown-item:focus {
  color: #1b7f8d;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-menu {
  background: #0e0e0e;
}
#menu-8 .nav-dropdown-sm .link:focus,
#menu-8 .nav-dropdown-sm .link:hover,
#menu-8 .nav-dropdown-sm .dropdown-item:focus,
#menu-8 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-8 .navbar,
#menu-8 .nav-dropdown-sm,
#menu-8 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-8 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8 .bg-color.transparent.opened .link:hover,
#menu-8 .bg-color.transparent.opened .link:focus {
  color: #1b7f8d;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-item[aria-expanded="true"] {
  color: #1b7f8d!important;
}
#social-buttons4-5 .mbr-section-title,
#social-buttons4-5 .btn-social {
  color: #fff;
}
#social-buttons4-5 .mbr-section-title {
  font-size: 20px;
}
#msg-box8-n .mbr-section-title,
#msg-box8-n p {
  color: #fff;
}
#msg-box5-m B {
  color: #ffffff;
}
#msg-box5-m H3 {
  color: #ffffff;
}
#menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-k .navbar-caption {
  color: #ffffff;
}
#menu-k .navbar-toggler {
  color: #ffffff;
}
#menu-k .close-icon::before,
#menu-k .close-icon::after {
  background-color: #ffffff;
}
#menu-k .link,
#menu-k .dropdown-item {
  color: #ffffff;
}
#menu-k .link {
  font-size: 0.75rem;
}
#menu-k .dropdown-item,
#menu-k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-k .link:hover,
#menu-k .dropdown-item:hover,
#menu-k .link:focus,
#menu-k .dropdown-item:focus {
  color: #1b7f8d;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-menu {
  background: #0e0e0e;
}
#menu-k .nav-dropdown-sm .link:focus,
#menu-k .nav-dropdown-sm .link:hover,
#menu-k .nav-dropdown-sm .dropdown-item:focus,
#menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-k .navbar,
#menu-k .nav-dropdown-sm,
#menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-k .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-k .bg-color.transparent.opened .link:hover,
#menu-k .bg-color.transparent.opened .link:focus {
  color: #1b7f8d;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-item[aria-expanded="true"] {
  color: #1b7f8d!important;
}
#msg-box5-q B {
  color: #ffffff;
}
#msg-box5-q H3 {
  color: #ffffff;
}
#msg-box5-q P {
  color: #ffffff;
}
#msg-box5-s B {
  color: #ffffff;
}
#msg-box5-s H3 {
  color: #ffffff;
}
#msg-box5-t B {
  color: #ffffff;
}
#msg-box5-t H3 {
  color: #ffffff;
}
